<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragment :: head">
    <title>Get Bank</title>
</head>

<body>
    <div th:replace="fragments/main_fragment :: header"></div>

    <section class="visual">
        <h2 class="hide">이벤트 및 광고</h2>
            <div class="slide">
                <a href="https://spot.wooribank.com/pot/Dream?withyou=BPPBC0009&bbsMode=view&BOARD_ID=B00070&ARTICLE_ID=46411">
                <img src="../img/main/cardcorona.png" /></a>
                <div class="hide">국민지원금</div>
            </div>
    </section>

    <div>
        <h2 class="service_header">서비스</h2>
        <div class="service_box">
            <div class="box">
                <a href="https://svc.wooribank.com/svc/Dream?withyou=SFSBK0002">
                <img src="https://simg.wooribank.com/img/intro/home/image_service_04_b.png" /></a>
                <p class="service_title">우리WON뱅킹</p>
                <p class="service_text">새 시대의 금융을 켜다.</p> 
            </div>
            <div class="box">
                <a href="https://spot.wooribank.com/pot/Dream?withyou=wa">
                <img src="https://simg.wooribank.com/img/intro/home/image_service_05.png" /></a>
                <p class="service_title">자산관리</p>
                <p class="service_text">소액투자부터 미래설계까지</br> 효율적인 자산관리를 시작하세요</p> 
            </div>
            <div class="box">
                <a href="file:///C:/work/projects/second%20prj/sub_login1.html">
                <img src="https://simg.wooribank.com/img/intro/home/image_service_02_b.png" /></a>
                <p class="service_title">스마트간편신규</p>
                <p class="service_text">직원에게 추천받으신 상품을</br> 간편하게 가입하세요</p> 
            </div>
        </div>
    </div>

    <div th:replace="fragments/main_fragment :: footer"></div>

</body>



</html>
