<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_fragment :: head">
    <title>Get Bank 회원가입</title>
</head>
<body>
    <div th:replace="fragments/main_fragment :: header"></div>

    <main class="contents">
        <div>
            <p class="title">로그인이 완료 되었습니다.</p>
        </div>
        </div>
            <div class="daum">
                <a th:href="@{/}" class="btn_type1">홈으로</a>
            </div>
        </div>
    </main>

    <div th:replace="fragments/main_fragment :: footer"></div>

</body>
</html>
